.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navBar li {
  list-style-type: none;
  padding: 8px 5px;
}

.navBar {
  background-color: var(--color-accent);
  color: var(--color-light-text);
  padding: 0px 5px;
}

.navBarLink {
  cursor: pointer;
}

.navBarLink:hover {
  opacity: 0.8;
}