.modal {
  background: var(--color-light-background);
  width: 400px;
  margin: 40px auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.content {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.textField {
  width: auto;
  margin: 0 2px
}

.actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 2px 2px 0;
}

