.deckContainer {
  margin: 10px 5px;
}

.deckName {
  display: inline-block;
  background: var(--color-shaded-background);
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.deckName:hover {
  opacity: 0.8;
}
